TZ=
TOKEN=
OWNER_GUILD_IDS=
OWNER_IDS=

DISCORD_LOG_LEVEL=
BOT_LOG_LEVEL=
DEFAULT_PREFIX=

SYNC_COMMANDS=
DISABLED_COGS=
ENABLE_AUTOJOIN=1

MONGO_IP=
MONGO_DB_NAME=
MONGO_DB_USERNAME=
MONGO_DB_PASSWORD=
MONGO_DB_PORT=

GOOGLE_API=
GOOGLE_CX=

DICTIONARY_API=
PASTEBIN_API=
OPENWEATHERMAP_API=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

GOOGLE_APPLICATION_CREDENTIALS=
CLEVERBOT_API=

SEMAPHONE_API_KEY=
SEMAPHONE_SENDER_NAME=

OPENAI_API_KEY=
OPENAI_MODEL=
OPENAI_IMAGE_MODEL=
OPENAI_MAX_TOKEN=

PANEL_URL=
PANEL_API_KEY=

GEMINI_API_KEY=
GEMINI_CHAT_MODEL=
GEMINI_IMAGE_MODEL=

RAPID_API_KEY=

FLYFF_IP_ADDRESS=

LAVALINK_HOST=
LAVALINK_PORT=
LAVALINK_PASSWORD=

YTMUSIC_CREDENTIALS_TYPE=
YTMUSIC_CREDENTIALS_JSON=
YTMUSIC_BRAND_ACCOUNT_ID=
YTMUSIC_CLIENT_ID=
YTMUSIC_CLIENT_SECRET=
YTMUSIC_COUNTRY=