[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = {version = "*",pre = "true"}
flake8 = "*"
flake8-docstrings = "*"
flake8-mypy = "*"

[packages]
addict = "*"
discord-py = {git = "git://github.com/Rapptz/discord.py.git",ref = "master"}
environs = "*"
psutil = "*"
pyasn1 = "*"
pymongo = "*"
pytz = "*"
termcolor = "*"
youtube-dl = "*"
PyNaCl = "*"
aiohttp = "*"
aiodns = "*"
beautifulsoup4 = "*"
pokemon = "*"
pillow = "*"
jikanpy = {git = "git://github.com/AWConant/jikanpy.git"}

[requires]
python_version = "3.7.4"

[pipenv]
allow_prereleases = true
