[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"

[packages]
environs = "*"
psutil = "*"
pyasn1 = "*"
pytz = "*"
termcolor = "*"
PyNaCl = "*"
aiohttp = ">=3.7.4"
aiodns = "*"
beautifulsoup4 = "*"
pokemon = "*"
Pillow = "*"
jikanpy = "*"
emoji = "*"
aioschedule = "*"
yt-dlp = "*"
addict = "*"
motor = "*"
tornado = "*"
dnspython = "*"

[pipenv]
allow_prereleases = true

[packages.nextcord]
extras = [ "speed", "music",]
